body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.messageText {
  font-size: 13px;
}
.sender {
  font-size: 12px;
  font-weight: bolder;
}
.message-body {
  margin-left: 5px;
  line-height: normal;
}

/* container */
.message-container {
  padding: 5px;
  color:#fff;
}

/* CSS talk bubble */
.talk-bubble {
	margin: 10px;
  display: inline-block;
  position: relative;
  height: auto;
}

.border{
  border: 8px solid #666;
}

.round{
  border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;

}

.btm-left {
 width: 50% !important;
 border: 1px solid lightgray;
 color: black;
 background-color: white;
}
.btm-right {
  float: right;
  width: 51% !important;
  background-color: #3cb190;
}
.message-row {
  width: 100%;
}

.time {
  font-size: 10px;
}

/* talk bubble contents */
.talktext{
	text-align: left;
  line-height: 1.5em;
}
.talktext p{
  /* remove webkit p margins */
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
}

a.support-group {
  text-decoration: none;
}
.support-group:hover {
  text-decoration: none;
}
.support-group:hover > .mycard {
  background-color: whitesmoke;
}
.support-group:hover > .card {
  background-color: whitesmoke;
}